PORT=10000
DB_CONNECT_STRING=
JWT_KEY=
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=
REDIS_USER=default
REDIS_TLS=true
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
MAIL_SERVICE=gmail
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Smart Tech Lab
GOOGLE_CLIENT_ID=
FRONTEND_ORIGIN=
